*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
:root{
    --Maincolor:hsl(225, 100%, 94%);
    --Btncolor:hsl(245, 75%, 52%);
    --Blockcolor:hsl(225, 100%, 98%);
    --HTextcolor:hsl(223, 47%, 23%);
    --STextcolor:hsl(224, 23%, 55%);
}
body{
    background-color: var(--Maincolor,black);

}
main .im1{
    background-image: url(images/pattern-background-desktop.svg);
    width: 1535px;
    height: 437px;
    position: relative;
    bottom: 80px;
    z-index: -1;
}
.container{
    width: 400px;
    height: 600px;
    text-align: center;
    margin: -380px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 29px 14px -10px hsl(229 85% 90%);
}
.container header img{
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.container h2{
    color: var(--HTextcolor,black);
    margin-top: 25px;
    font-weight: 900;
}
.container p{
    margin: 20px;
    color: var(--STextcolor,black);
    font-size: 14px;
}
.container .block{
    margin:0 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Blockcolor,black);
    border-radius: 10px;
    margin-bottom: 20px;
}
.container .block img{
    margin-left: -10px;
    width: 40px;
}
.container .block p{
    margin-left: -50px;
    line-height: 1.6;
}
.container .block p span{
        color: var(--HTextcolor,black);
        font-weight: 900;
}
.container .block .ch{
    font-size: 12px;
    font-weight: 700;
    margin-right: -10px;
    color: var(--Btncolor,black);
}
.container .block .ch:hover{
    text-decoration: none;
    color: rgba(56, 41, 224,0.7);
}
button{
    width: 330px;
    padding: 13px;
    background-color: var(--Btncolor,black);
    border: none;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0 29px 14px -10px hsl(229 85% 90%);
    font-weight: 700;    
}
.container button:hover{
    background-color: rgba(56, 41, 224,0.7);
}
.container .ca{
    display: inline-block;
    text-decoration: none;
    color: var(--STextcolor,black);
    font-weight: 700;
    font-size: 13px;
}
.container .ca:hover{
    color: var(--HTextcolor,black);
    font-weight: 900;
}
@media (max-width:767px) {
    main .im1{
        background-image: url(images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
        position: relative;
        bottom:0;
    }
    .container{
        width: 345px;
        height: 555px;
    }
    .container .block{
        margin: 0 25px 0;
        margin-bottom: 20px;
    }
    button{
        width: 300px;
    }
}